VRStartAssistant/bin/
VRStartAssistant/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
Build/
Build Long/
Build Setup/
*.snk
Resources/*.psd
Resources/*.url
VRSASetup/Debug/
VRSASetup/Release/

VRStartAssistantUI/